.brand 
  = link_to_unless_current 'Live!', root_url, alt: 'Live!'
%ul.nav
  -# %li
    - if signed_in?
      = link_to "Sign out #{current_user.name}", signout_path, id: :sign_out
    - else 
      = link_to "Sign in with Facebook", "/auth/facebook", id: :sign_in